{% extends 'base.html' %}

{% block content %}
    <main class="container py-5">
        <section class="card card-body">
            <h1 class="display-1 text-center">Gestión de Placas</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Assumenda distinctio nostrum quasi, beatae totam deserunt expedita
                repellendus architecto odio ipsam facilis,
                saepe dolorem ex. Nisi praesentium molestiae at beatae fugit.
            </p>

            <div class="text-center">
                <a href="/signin/" class="btn btn-primary">Ingresar al Sistema</a>
                <a href="/loguearse/" class="btn btn-primary">Registrarse</a>
            </div>
        </section>
    </main>    

{% endblock %}